* {
  margin: 0;
  padding: 0;
} 

html, body {
  height: 100%;
}
#wrap {
  min-height: 100%;
}
#main {
  overflow: auto;
  padding-bottom: 123px; /* must be same height as the footer */
}
/** short fix for scroll in react-grid*/
.react-grid-Canvas{

    overflow-y: auto !important;
}

#footer {
//   position: relative;
//   margin-top: -123px; /* negative value of footer height */
//   height: 123px;
//   clear: both;
    position: fixed;
    display: block;
    bottom: 0px;
    width: 100%;
} 
/* Opera Fix thanks to Maleika (Kohoutec) */
body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;/* thank you Erik J - negate effect of float*/
}
#loader_div {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  .hide{
      display :none
    }
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#loader_wrap {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255,255,255); /* Black background with opacity */
    z-index: 9999; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    
}

.loginPanel {
    max-width: 540px;
    margin: 130px auto 0;
}

/* General */
.btn {
    padding: 6px 30px;
    border-radius: 2px;
    font-size: 15px;
}
.loginPanel {
	max-width: 540px;
	margin: 130px auto 0;
}
.loginPanel label {
    width: 30%;
}
.loginPanel .form-inline .form-control {
	width: 60%;
}
.loginPanel .panel-body {
    padding: 35px 35px 15px;
}
/* Color of invalid field */
.has-error .help-block,
.has-error .form-control-feedback {
    color: #a94442;
}

/* Color of valid field */
.has-success .help-block,
.has-success .form-control-feedback {
    color: #3c763d;
}
