
<header class="undefined">

  <!--RD Navbar-->
  <div class="rd-navbar-wrap">
    <nav class="rd-navbar bg-white top-panel-none-items" data-layout="rd-navbar-fixed" data-hover-on="false" data-stick-up="false" data-sm-layout="rd-navbar-fullwidth" data-md-layout="rd-navbar-static">
      <div class="rd-navbar-top-panel">
        <div class="rd-navbar-inner">
          <button data-rd-navbar-toggle=".list-inline, .fa-envelope, .fa-phone, .material-icons-shopping_cart" class="rd-navbar-collapse-toggle"><span></span></button><a href="mailto:#" class="fa-envelope">demomail@demolink.org</a><a href="callto:#" class="fa-phone">+1 (126) 598-89-75</a>
          <ul class="list-inline pull-right">
            <li><a href="#" class="fa-facebook"></a></li>
            <li><a href="#" class="fa-pinterest-p"></a></li>
            <li><a href="#" class="fa-twitter"></a></li>
            <li><a href="#" class="fa-google-plus"></a></li>
            <li><a href="#" class="fa-instagram"></a></li>
          </ul>
        </div>
      </div>
      <div class="rd-navbar-inner">

        <!--RD Navbar Panel-->
        <div class="rd-navbar-panel">

          <!--RD Navbar Toggle-->
          <button data-rd-navbar-toggle=".rd-navbar" class="rd-navbar-toggle"><span></span></button>
          <!--END RD Navbar Toggle-->

          <!--RD Navbar Brand-->
          <div class="rd-navbar-brand"><a href="index.html" class="brand-name"><img src="images/logo.png" alt=""/></a>
          </div>
          <!--END RD Navbar Brand-->
        </div>
        <!--END RD Navbar Panel-->

        <div class="rd-navbar-nav-wrap"><a href="shop-cart.html" class="material-icons-shopping_cart"></a>
          <!--RD Navbar Search-->
          <div class="rd-navbar-search">
            <form action="search.php" method="GET" class="rd-navbar-search-form">
              <label class="rd-navbar-search-form-input">
                <input type="text" name="s" placeholder="Search.." autocomplete="off"/>
              </label>
              <button type="submit" class="rd-navbar-search-form-submit"></button>
            </form><span class="rd-navbar-live-search-results"></span>
            <button data-rd-navbar-toggle=".rd-navbar-search, .rd-navbar-live-search-results" class="rd-navbar-search-toggle"></button>
          </div>
          <!--END RD Navbar Search-->

          <!--RD Navbar Nav-->
          <ul class="rd-navbar-nav">
            <li><a href="./">Home</a></li>
            <li><a href="#">Elements</a>

              <!--RD Navbar Dropdown-->
              <ul class="rd-navbar-dropdown">
                <li><a href="accourdions_tabs.html">Tabs & Accordions</a></li>
                <li><a href="typography.html">Typography</a></li>
                <li><a href="forms.html">Forms</a></li>
                <li><a href="buttons.html">Buttons</a></li>
                <li><a href="grid.html">Grid</a></li>
                <li><a href="icons.html">Icons</a></li>
                <li><a href="tables.html">Tables</a></li>
                <li><a href="progress_bars.html">Progress bars</a></li>
              </ul>
              <!--END RD Navbar Dropdown-->
              
            </li>
            <li><a href="#">Features</a>
              <ul class="rd-navbar-dropdown">
                <li><a href="index-parallax.html">Header Parallax</a></li>
                <li><a href="index-2.html">Header Transparent</a></li>
                <li><a href="index-cent.html">Header Center, Footer Light</a></li>
                <li><a href="index-min.html">Header Minimal, Footer Light</a></li>
                <li><a href="index-topbar.html">Header Corporate</a></li>
                <li><a href="index-sidebar.html">Header Hamburger Menu</a></li>
                <li><a href="index-cent-dark.html">Footer Center Dark</a></li>
                <li><a href="index-min-dark.html">Footer Minimal Dark</a></li>
                <li><a href="index-wid.html">Footer Widget Light</a></li>
                <li><a href="index-wid-dark.html">Footer Widget Dark</a></li>
              </ul>
            </li>
            <li><a href="#">Extras</a>
              <ul class="rd-navbar-dropdown">
                <li><a href="404.html">404</a></li>
                <li><a href="coming.html">Coming soon</a></li>
                <li><a href="login.html">Login page</a></li>
                <li><a href="maintenance.html">Maintenance page</a></li>
                <li><a href="register.html">Register page</a></li>
                <li><a href="search-res.html">Search results page</a></li>
                <li><a href="terms.html">Terms of Service</a></li>
              </ul>
            </li>
            <li class="dropdown-megamenu"><a href="#">Pages</a>

              <!--RD Navbar Megamenu-->
              <ul class="rd-navbar-megamenu">
                <li>
                  <p>Pages</p>
                  <ul>
                    <li><a href="index-2.html">Home 2</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="our-team.html">Our Team</a></li>
                    <li><a href="team-member.html">Team member profile</a></li>
                    <li><a href="contact_us.html">Contact Us</a></li>
                    <li><a href="contact_us_2.html">Contact Us 2</a></li>
                    <li><a href="pricing.html">Pricing</a></li>
                    <li><a href="services.html">Services page</a></li>
                    <li><a href="clients.html">Clients Page</a></li>
                    <li><a href="faq.html">FAQ Page</a></li>
                  </ul>
                </li>
                <li>
                  <p>Pages 2</p>
                  <ul>
                    <li><a href="left_sidebar.html">With left sidebar</a></li>
                    <li><a href="right_sidebar.html">With right sidebar</a></li>
                    <li><a href="no_sidebar.html">Without sidebar</a></li>
                    <li><a href="blog_default.html">Default Blog</a></li>
                    <li><a href="blog_columns_2.html">2 Columns Blog</a></li>
                    <li><a href="blog_columns_3.html">3 Columns Blog</a></li>
                    <li><a href="blog_archive.html">Archive page</a></li>
                    <li><a href="blog_post.html">Post page</a></li>
                    <li><a href="timeline.html">Timeline</a></li>
                  </ul>
                </li>
                <li>
                  <p>Layouts</p>
                  <ul>
                    <li><a href="index-2.html">Header Transparent</a></li>
                    <li><a href="index-cent.html">Header Center, Footer Light</a></li>
                    <li><a href="index-min.html">Header Minimal, Footer Light</a></li>
                    <li><a href="index-topbar.html">Header Corporate</a></li>
                    <li><a href="index-sidebar.html">Header Hamburger Menu</a></li>
                    <li><a href="index-cent-dark.html">Footer Center Dark</a></li>
                    <li><a href="index-min-dark.html">Footer Minimal Dark</a></li>
                    <li><a href="index-wid.html">Footer Widget Light</a></li>
                    <li><a href="index-wid-dark.html">Footer Widget Dark</a></li>
                  </ul>
                </li>
                <li>
                  <p>E-commerce</p>
                  <ul>
                    <li><a href="shop-catalog.html">Product catalog</a></li>
                    <li><a href="shop-product.html">Single product</a></li>
                    <li><a href="shop-cart.html">Shopping cart</a></li>
                    <li><a href="shop-checkout.html">Checkout</a></li>
                  </ul>
                </li>
              </ul>
              <!--END RD Navbar Megamenu-->
            </li>
            <li><a href="#">Blog</a>
              <ul class="rd-navbar-dropdown">
                <li><a href="blog_default.html">Default Blog</a></li>
                <li><a href="blog_columns_2.html">2 Columns Blog</a></li>
                <li><a href="blog_columns_3.html">3 Columns Blog</a></li>
                <li><a href="blog_archive.html">Archive page</a></li>
                <li><a href="blog_post.html">Post page</a></li>
                <li><a href="timeline.html">Timeline <span class="marked">hot</span></a></li>
              </ul>
            </li>
            <li><a href="#">Gallery</a>
              <ul class="rd-navbar-dropdown">
                <li><a href="gallery-1.html">Grid Padding Gallery</a></li>
                <li><a href="gallery-2.html">Grid No Padding Gallery</a></li>
                <li><a href="gallery-3.html">Grid Masonry</a></li>
                <li><a href="gallery-4.html">Grid Cobbles</a></li>
              </ul>
            </li>
            <li><a href="#">Shop</a>
              <ul class="rd-navbar-dropdown">
                <li><a href="shop-catalog.html">Product catalog</a></li>
                <li><a href="shop-product.html">Single product</a></li>
                <li><a href="shop-cart.html">Shopping cart</a></li>
                <li><a href="shop-checkout.html">Checkout</a></li>
              </ul>
            </li>
          </ul>
          <!--END RD Navbar Nav-->
        </div>
      </div>
    </nav>
  </div>
  <!--END RD Navbar-->
  <section>
    <!--Swiper-->
    <div data-autoplay="5000" data-slide-effect="fade" data-loop="false" class="swiper-container swiper-slider">
      <div class="jumbotron text-center">
        <h1><small></small></h1>
        <p class="big"></p>
      </div>
      <div class="swiper-wrapper">
        <div data-slide-bg="images/header-1.jpg" class="swiper-slide">
          <div class="swiper-slide-caption"></div>
        </div>
        <div data-slide-bg="images/header-2.jpg" class="swiper-slide">
          <div class="swiper-slide-caption"></div>
        </div>
        <div data-slide-bg="images/header-3.jpg" class="swiper-slide">
          <div class="swiper-slide-caption"></div>
        </div>
        <div data-slide-bg="images/header-4.jpg" class="swiper-slide">
          <div class="swiper-slide-caption"></div>
        </div>
      </div>
    </div>
  </section>
</header>