<!DOCTYPE html>
<html lang="en" class="wide wow-animation">

<head>
    <!--Site Title-->
    <title>Karthikeya Construction</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!--Stylesheets-->
    <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/assets/img/favicon.ico" />

    <!--Bootstrap-->
    <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/.."><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script><[endif]-->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Intl.~locale.en"></script>
    <script>
        var defaultLocale = window.defaultLocale = "{{defaultLocale}}";
        var app_env = window.app_env = "{{app_env}}";
        var cdnUrl = window.cdnUrl = "{{cdnUrl}}";
        var debugText = window.debugText = "{{debugText}}"
    </script>
    <style>
        #loader_div {
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 1;
            width: 150px;
            height: 150px;
            margin: -75px 0 0 -75px;
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }

        #loader_wrap {
            position: fixed;
            /* Sit on top of the page content */
            width: 100%;
            /* Full width (cover the whole page) */
            height: 100%;
            /* Full height (cover the whole page) */
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgb(255, 255, 255);
            /* Black background with opacity */
            z-index: 9999;
            /* Specify a stack order in case you're using a different order for other elements */
            cursor: pointer;
            /* Add a pointer on hover */
        }

        .hide {
            display: none
        }

        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</head>

<body>
    <!--The Main Wrapper-->
    <div class="mainContainer" id="main"></div>
    <div id="loader_wrap">
        <div id="loader_div"></div>
    </div>
</body>
<!--Core Scripts-->
<script src="assets/js/core.min.js"></script>
<!--jQuery (necessary for Bootstrap's JavaScript plugins)-->
<!--Include all compiled plugins (below), or include individual files as needed-->
<script src="assets/js/bootstrap.min.js"></script>
<!--Additional Functionality Scripts-->
<script src="assets/js/script.js"></script>

</html>