//@import "mixins.less";
//@import "variables.less";

/*========================================================
                      Contact Form
=========================================================*/

$input-height: 60px;
$input-offset-top: 22px;
$input-padding: 16px 15px 16px 25px;
$input-font-family: $font-family-base;
$input-font-size: 18px;
$input-line-height: 28px;
$input-color: #34495e;
$input-border-radius: 1px;
$input-brdr: 1px solid $gray-light;
$input-font-weight: 300;
$input-background: rgba(255,255,255,1);

$textarea-height: 340px;

$placeholder-clr: $input-color;
$placeholder-opacity: 1;

$box-shadow-ambient: 0 0 2px 0 rgba(0,0,0, .11);
$box-shadow-key-light: 3px 4px 5px 0 rgba(0,0,0, .11);

/* MF
========================================================*/
.rd-mailform {
  position: relative;
  text-align: left;
  margin-left: auto;
  margin-right: auto;

  * + &{
    //margin-top: 45px;
  }

  fieldset {
    border: none;    
  }

  * {
    @include box-sizing(border-box);
  }
}

// .rd-mailform fieldset > label,
.rd-mailform .form-group{
  position: relative;
  //display: inline-block;
  //margin-bottom: 0;
  //width: 32%;


  & > label{
    //width: 100%;
    //font-weight: $input-font-weight;
    //margin-bottom: 0;
  }
// fix select bag in chrome
//  &.select{
//    @include clearfix();
//    > .flt-select-box{
//    float:left;
//    width: 100%;
//    select{
//      padding: 0;
//    }
//    }
//  }
//end fix

// & + .form-group:not(.btn-wr):not(.textarea){
//  margin-left: 10px;
//  @media (max-width: 1199px){
//      margin-left: 8px;
//    }
//   &:nth-child(5){
//     margin-left: 0;
//     float: left;
//   }
//}

//@media (max-width: 991px){
//    width: 100%;
//    & + .form-group:not(.btn-wr):not(.textarea){
//      margin-left: 0;
//      margin-top: $input-offset-top;
//    }
//  }

  &.btn-wr{
    //margin-top: $input-offset-top;
  }

  &.textarea{
    //width: 100%;
    //margin-left: 0;
    //margin-top: $input-offset-top;
  }

  &:first-child {
    //margin-top: 0;
  }

  input, select, textarea {
    //display: block;
    //width: 100%;
    //margin: 0;
    //-webkit-appearance: none;
    //outline: none;
    //font-family: $input-font-family;
    //font-size: $input-font-size;
    //font-weight: $input-font-weight;
    //padding: $input-padding;
    //line-height: $input-line-height;
    //color: $input-color;
    //background: $input-background;
    //border: none;
    //height: $input-height;
    //border: $input-brdr;
    //border-radius: $input-border-radius;

    &:-moz-placeholder {
      //color: $placeholder-clr;
      //opacity: $placeholder-opacity;
    }

    &::-webkit-input-placeholder {
      //color: $placeholder-clr;
      //opacity: $placeholder-opacity;
    }

    &::-moz-placeholder {
      //color: $placeholder-clr;
      //opacity: $placeholder-opacity;
    }

    &:-ms-input-placeholder {
      //color: $placeholder-clr;
      //opacity: $placeholder-opacity;
    }
  }

  //textarea {
  //  resize: none;
  //  overflow: auto;
  //  height: $textarea-height;
  //  border: $input-brdr;
  //  @media (max-width: 767px) {
  //    max-height: 140px;
  //  }
  //}
  //
  //@media (max-width: 1365px) {
  //  // margin-top: 30px;
  //}
}

@import "mailform_modules/_mf-animation.scss";
@import "mailform_modules/_mf-placeholder.scss";
@import "mailform_modules/_mf-validation.scss";
@import "mailform_modules/_mf-submit.scss";
// @import "mailform_modules/_mf-icon.scss";
//@import "mailform_modules/_mf-select.scss";
//@import "mailform_modules/_mf-datepicker.scss";
//@import "mailform_modules/_mf-label.scss";
//
// 